__pycache__/
bachata-coreography-generator/__pycache__/
bachata-coreography-generator/.venv/
bachata-coreography-generator/.env

data/songs/
data/Bachata_steps/
various/
sanity_checks/
*.json

.env
.venv/

../.DS_Store
.DS_Store